.GameInfo
{
    width:100%;
    flow-children: down; 
}
Label
{
    font-size: 20px;
    color: #999999;
    vertical-align: top;
}
#Title
{
    flow-children: right;
}

#TitleName
{
    color: #4bd84e;  
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}
.Header
{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 26px;
    color: #4bd84e;    
    text-transform: uppercase;
}
.InfoStringRight
{
    font-size: 20px;
    flow-children: right;
    width: 100%;
    margin-top: 18px;
}
.InfoStringLeft
{
    font-size: 20px;
    flow-children: right-wrap;
    width: 100%;
    margin-top: 18px;
}
.InfoStringDown
{
    font-size: 20px;
    flow-children: down;
    width: 100%;
    margin-top: 18px;
}
#InfoText
{   
    margin-top:  10px;
    text-align: left;
    width: 200px;
}
#InfoImage
{
    width: 288.5px;
    height: 326px;
}